# TRAN DUC TOAN

## LAB 2: Lưu trữ các bộ dữ liệu với List

In [16]:
 kingdoms = ['Bacteria', 'Protozoa', 'Chromista','Plantae', 'Fungi','Animalia']

In [17]:
#bài 1
# a. The first item of kingdoms
print("a: ", kingdoms[0])
# b. The last item of kingdoms
print("b: ", kingdoms[5])
# c. The list ['Bacteria', 'Protozoa', 'Chromista']
print("c: ", kingdoms[:5])
# d. The list ['Chromista', 'Plantae', 'Fungi']
print("d: ", kingdoms[2:5])
# e. The list ['Fungi', 'Animalia']
print("e: ", kingdoms[4:6])
# f. The empty list
print("f: ", kingdoms[1:0])

a:  Bacteria
b:  Animalia
c:  ['Bacteria', 'Protozoa', 'Chromista', 'Plantae', 'Fungi']
d:  ['Chromista', 'Plantae', 'Fungi']
e:  ['Fungi', 'Animalia']
f:  []

In [26]:
# 2. Repeat the previous exercise using negative indices.
# a. The first item of kingdoms
print("a: ", kingdoms[-6])
# b. The last item of kingdoms
print("b: ", kingdoms[-1])
# c. The list ['Bacteria', 'Protozoa', 'Chromista']
print("c: ", kingdoms[-6:-3])
# d. The list ['Chromista', 'Plantae', 'Fungi']
print("d: ", kingdoms[-4:-1])
# e. The list ['Fungi', 'Animalia']
print("e: ", kingdoms[-2:])
# f. The empty list
print("f: ", kingdoms[-1:0])

a:  Bacteria
b:  Animalia
c:  ['Bacteria', 'Protozoa', 'Chromista']
d:  ['Chromista', 'Plantae', 'Fungi']
e:  ['Fungi', 'Animalia']
f:  []

In [27]:
# 3. Variable appointments refers to the list ['9:00', '10:30', '14:00', '15:00',
# '15:30']. An appointment is scheduled for 16:30, so '16:30' needs to be added
# to the list.
# a. Using list method append, add '16:30' to the end of the list that
# appointments refers to.
# b. Instead of using append, use the + operator to add '16:30' to the end of
# the list that appointments refers to.
# c. You used two approaches to add '16:30' to the list. Which approach
# modified the list and which approach created a new list?

In [41]:
hours =  ['9:00', '10:30', '14:00', '15:00','15:30']
id(hours)

2099847378752

In [42]:
#a
hours.append('16:30')
id(hours)

2099847378752

In [44]:
#b 
hours + ['16:30']

['9:00', '10:30', '14:00', '15:00', '15:30', '16:30', '16:30']

In [45]:
# c 
print("""
append didn't created a new list
 use the + operator created a new list""")

append didn't created a new list
 use the + operator created a new list

In [46]:
# 4 Variable ids refers to the list [4353, 2314, 2956, 3382, 9362, 3900]. Using
# list methods, do the following:
# a. Remove 3382 from the list.
# b. Get the index of 9362.
# c. Insert 4499 in the list after 9362.
# d. Extend the list by adding [5566, 1830] to it.
# e. Reverse the list.
# f. Sort the list.

In [55]:
#a
ids = [4353, 2314, 2956, 3382, 9362, 3900]

In [56]:
#b
ids.remove(3382)
ids

[4353, 2314, 2956, 9362, 3900]

In [57]:
#c
ids.index(9362)

3

In [58]:
#d
ids.insert(-1, 4499)
ids

[4353, 2314, 2956, 9362, 4499, 3900]

In [59]:
#e
ids.extend([5566,1830])
ids

[4353, 2314, 2956, 9362, 4499, 3900, 5566, 1830]

In [60]:
ids.reverse()
ids

[1830, 5566, 3900, 4499, 9362, 2956, 2314, 4353]

In [63]:
ids.sort()
ids

[1830, 2314, 2956, 3900, 4353, 4499, 5566, 9362]

In [64]:
# 5. In this exercise, you’ll create a list and then answer questions about that
# list.
# a. Assign a list that contains the atomic numbers of the six alkaline earth
# metals—beryllium (4), magnesium (12), calcium (20), strontium (38),
# barium (56), and radium (88)—to a variable called alkaline_earth_metals.
# b. Which index contains radium’s atomic number? Write the answer in two
# ways, one using a positive index and one using a negative index.
# c. Which function tells you how many items there are in
# alkaline_earth_metals?
# d. Write code that returns the highest atomic number in
# alkaline_earth_metals.

In [66]:
alkaline_earth_metals = [4,12,20,38,56,88]

In [67]:
#b
alkaline_earth_metals[5],alkaline_earth_metals[-1]

(88, 88)

In [68]:
#c
len(alkaline_earth_metals)

6

In [69]:
#d
max(alkaline_earth_metals)

88

In [71]:
# 6. In this exercise, you’ll create a list and then answer questions about that
# list.
# a. Create a list of temperatures in degrees Celsius with the values 
# 25.2,16.8, 31.4, 23.9, 28, 22.5, and 19.6, and assign it to a variable called
# temps.
# b. Using one of the list methods, sort temps in ascending order.
# c. Using slicing, create two new lists, cool_temps and warm_temps, which
# contain the temperatures below and above 20 degrees Celsius, respectively.
# d. Using list arithmetic, recombine cool_temps and warm_temps into a new
# list called temps_in_celsius -->

In [72]:
temps = [25.2,16.8, 31.4, 23.9, 28, 22.5, 19.6]

In [74]:
#b
temps.sort()
temps

[16.8, 19.6, 22.5, 23.9, 25.2, 28, 31.4]

In [77]:
#c
cool_temps = temps[:2]
warm_temps = temps[2:]
cool_temps, warm_temps

([16.8, 19.6], [22.5, 23.9, 25.2, 28, 31.4])

In [78]:
#d
temps_in_celsius = cool_temps +warm_temps
temps_in_celsius

[16.8, 19.6, 22.5, 23.9, 25.2, 28, 31.4]

### 7

In [102]:
def same_first_last(L):
    """ (list) -> bool
    Precondition: len(L) >= 2
    Return True if and only if first item of the list is the same as
    the last.
    >>> same_first_last([3, 4, 2, 8, 3])
    True
    >>> same_first_last(['apple', 'banana', 'pear'])
    >>> same_first_last([4.0, 4.5])
    """
    if L[0] == L[-1]:return True

In [106]:
same_first_last([3, 4, 2, 8, 3])

True

In [104]:
same_first_last(['apple', 'banana', 'pear'])

In [105]:
same_first_last([4.0, 4.5])

# 8

In [108]:
def is_longer(L1: list, L2: list) -> bool:
    """Return True if and only if the length of L1 is longer than the length
    of L2.
    >>> is_longer([1, 2, 3], [4, 5])
    True
    >>> is_longer(['abcdef'], ['ab', 'cd', 'ef'])
    >>> is_longer(['a', 'b', 'c'], [1, 2, 3]
    """
    if len(L1) > len(L2): return True

In [109]:
is_longer([1, 2, 3], [4, 5])

True

In [110]:
is_longer(['abcdef'], ['ab', 'cd', 'ef'])

In [111]:
is_longer(['a', 'b', 'c'], [1, 2, 3])

In [112]:
# 9. Draw a memory model showing the effect of the following statements:
# values = [0, 1, 2]
# values[1] = values

In [113]:
values = [0, 1, 2]
values[1] = values

In [114]:
id(values), id(values[1])

(2099880823424, 2099880823424)

# Bài tập chương 9

In [ ]:
# 1. Write a for loop to print all the values in the celegans_phenotypes list, one
# per line. celegans_phenotypes refers to ['Emb','Him', 'Unc', 'Lon', 'Dpy',
# 'Sma'].

In [117]:
celegans_phenotypes =  ['Emb','Him', 'Unc', 'Lon', 'Dpy','Sma']
for i in celegans_phenotypes:
    print(i)

Emb
Him
Unc
Lon
Dpy
Sma

In [ ]:
# 2. Write a for loop to print all the values in the half_lives list, all on a single
# line. half_lives refers to [87.74, 24110.0,
# 6537.0, 14.4, 376000.0].

In [118]:
half_lives = [87.74, 24110.0,6537.0, 14.4, 376000.0]
for i in half_lives:
    print(i, end =" ")

87.74 24110.0 6537.0 14.4 376000.0

In [120]:
# 3. Write a for loop to add 1 to all the values from whales, and store the
# converted values in a new list called more_whales. The whales list shouldn’t
# be modified. whales refers to [5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3].
whales =[5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]
more_whales= []
for i in  whales :
    more_whales.append(i + 1)
more_whales

[6, 5, 8, 4, 3, 4, 3, 7, 5, 3, 2, 8, 2, 4]

In [121]:
# 4. In this exercise, you’ll create a nested list and then write code that performs
# operations on that list.
# a. Create a nested list where each element of the outer list contains the
# atomic number and atomic weight for an alkaline earth metal. The
# values are beryllium (4 and 9.012), magnesium (12 and 24.305), calcium (20
# and 40.078), strontium (38 and 87.62), barium (56 and
# 137.327), and radium (88 and 226). Assign the list to variable
# alkaline_earth_metals.
# b. Write a for loop to print all the values in alkaline_earth_metals, with the
# atomic number and atomic weight for each alkaline earth metal on a
# different line.
# c. Write a for loop to create a new list called number_and_weight that
# contains the elements of alkaline_earth_metals in the same order but not
# nested.

In [123]:
#b
lkaline_earth_metals = [[4, 9.012],[12, 24.305],[20, 40.078],[38 , 87.62],[56 ,137.327]]
for i in lkaline_earth_metals:
    print (i[0],"\n",i[1])

4
 9.012
12
 24.305
20
 40.078
38
 87.62
56
 137.327

In [124]:
number_and_weight=[]
for i in lkaline_earth_metals:
    number_and_weight.append(i[0])
    number_and_weight.append(i[1])
number_and_weight

[4, 9.012, 12, 24.305, 20, 40.078, 38, 87.62, 56, 137.327]

In [193]:
# 5. The following function doesn’t have a docstring, type annotations, or
# comments. Write enough of all three to make it easy for another programmer
# to understand what the function does and how, and then compare your
# solution with those of at least two other people. How similar are they?
# Why do they differ?
def mystery_function(values):
    result = []
    for sublist in values:
        result.append([sublist[0]])
        for i in sublist[1:]:
            result[-1].insert(0, i)
    return result

In [194]:
mystery_function([[1, 2, 3], [4, 5, 6]])

[[3, 2, 1], [6, 5, 4]]